#Informações
Python para coisas chatas
pagina 118

https://docs.python.org/pt-br/3/tutorial/datastructures.html

##criando listas

In [ ]:
vazia = []
varios = [10, 20, 30, 40, 'meu nome é Brayan', True, 3.12]
veiculos = ["Carro", "Moto", "Aeronave"]
diversos = ['João',{'Idade':28}, ['Música', 'Esporte']]
lista_das_listas = [vazia, varios, veiculos, diversos]

In [ ]:
numeros_range = list(range(10))
print(numeros_range)
numeros_range = list(reversed(range(10)))
print(numeros_range)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
numerosquadrados = [x**2 for x in range(10)]
numerosquadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##retornando valores

In [ ]:
#RETORNANDO VALORES DE LISTAS
print(diversos[1]['Idade'])
print(varios[4-3])
print(varios[-2])
print(varios[len(varios)-2])
print(varios[4].upper())#transoformação de texto
print(float(varios[1]))#conversão de numero int para float
print(len(lista_das_listas))#tamanho da lista de listas
print(lista_das_listas)#lista de listas
print(varios[1:-4])#do segundo item até -4 no final
print(varios[2:])#3º item ate ultimo

28
20
True
True
MEU NOME É BRAYAN
20.0
4
[[], [10, 20, 30, 40, 'meu nome é Brayan', True, 3.12], ['Carro', 'Moto', 'Aeronave'], ['João', {'Idade': 28}, ['Música', 'Esporte']]]
[20, 30]
[30, 40, 'meu nome é Brayan', True, 3.12]

In [ ]:
lista = [10, 20, 30, 40, 50, 60]
lista = lista + ['brayan']
lista += ['miguel']

for indice, valor in enumerate(lista):
    print(f'índice={indice}, valor={valor}')
print('\nInvertendo lista\n')
lista.reverse()
for indice, valor in enumerate(lista):
    print(f'índice={indice}, valor={valor}')

índice=0, valor=10
índice=1, valor=20
índice=2, valor=30
índice=3, valor=40
índice=4, valor=50
índice=5, valor=60
índice=6, valor=brayan
índice=7, valor=miguel

Invertendo lista

índice=0, valor=miguel
índice=1, valor=brayan
índice=2, valor=60
índice=3, valor=50
índice=4, valor=40
índice=5, valor=30
índice=6, valor=20
índice=7, valor=10

##modificando itens das listas

In [ ]:
varios[0] = 'mudei o primeiro'#mudando primeiro
varios[-1] = 9.17#mudando ultimo item
varios[2] = "brayan" + ' ' + 'soares'

In [ ]:
varios

['mudei o primeiro', 20, 'brayan soares', 40, 'meu nome é Brayan', True, 9.17]

In [ ]:
#alterando todos os elemntos para numeros aleatorios
import random as rd
for i in range(len(varios)):
  varios[i] = rd.randint(10, 1000)
varios

[824, 660, 615, 837, 561, 885, 977]

In [ ]:
#adiconando itens e removendo todos
lista = []
try:
  while True:
    valor = input()
    if valor == '0':
      for i in range(len(lista)+1):
        print(lista)
        lista.pop()
      break
    lista.append(valor)
    print(f'A lista é {lista}, com o tamanho de {len(lista)} itens')
except:
  pass

Brayan
A lista é ['Brayan'], com o tamanho de 1 itens
Miguel
A lista é ['Brayan', 'Miguel'], com o tamanho de 2 itens
Patrícia
A lista é ['Brayan', 'Miguel', 'Patrícia'], com o tamanho de 3 itens
0
['Brayan', 'Miguel', 'Patrícia']
['Brayan', 'Miguel']
['Brayan']
[]

In [ ]:
carros = []
while True:
 print('Digite um nome do Carro ' + str(len(carros) + 1) + ' ( ou nada para parar):')
 name = input()
 if name == '':
  break
 carros = carros + [name] # list concatenation
print('Os carros são:')
i = 1
for name in carros:
  print(str(i) + ' ' + name)
  i += 1

Digite um nome de Carro 1 ( ou nada para parar):
Fusca
Digite um nome de Carro 2 ( ou nada para parar):
Kombi
Digite um nome de Carro 3 ( ou nada para parar):
Celta
Digite um nome de Carro 4 ( ou nada para parar):
Onix
Digite um nome de Carro 5 ( ou nada para parar):

Os carros são:
1 Fusca
2 Kombi
3 Celta
4 Onix

##concatenação de listas

In [ ]:
a = [1, 2, 3]
b = [1, 2, 5]
c = ['um', 'dois', 'três']
d = ['1', '2', '3']

q = a + b
p = a * 2 + ['brayan', 'miguel']
print(q)
print(p)

[1, 2, 3, 1, 2, 5]
[1, 2, 3, 1, 2, 3, 'brayan', 'miguel']

##loop in listas

In [ ]:
for i in ['brayan', 'miguel', 'soares']:
  print(i, end=' ')

brayan miguel soares

##operadores in e not in

In [ ]:
nomes = ['brayan', 'miguel', 3]
print(3 in [2, 3, 4])
print('brayan' in nomes)
print('brayan' not in nomes)

True
True
False

## metodo pop

In [ ]:
lista = [1, 2, 3,  'brayan', 'miguel']
print(lista)
print(lista.pop())
print(lista)
del lista[0]
print(lista)
print(lista.pop(2))
print(lista)

[1, 2, 3, 'brayan', 'miguel']
miguel
[1, 2, 3, 'brayan']
[2, 3, 'brayan']
brayan
[2, 3]

##método index

In [ ]:
nomes = ['brayan', 'miguel', 'soares', 'brayan']
print(nomes.index('brayan'))#retorna a primeira ocorrência encontrada
print(nomes.index('soares'))

0
2

##método insert

In [ ]:
animais = []
animais.append('macaco')
animais.append('zebra')
animais

['macaco', 'zebra']

##método append

In [ ]:
animais = []
animais.append('macaco')
print(animais)
animais.insert(0, 'gorila')
print(animais)
animais.insert(2, 'gorila2')
print(animais)

['macaco']
['gorila', 'macaco']
['gorila', 'macaco', 'gorila2']

##método remove
Remove através do nome da lista

In [ ]:
animais = ['gorila', 'macaco', 'gorila2']
animais.remove('macaco')
print(animais)

['gorila', 'gorila2']

In [ ]:
letras = ['a', 'a', 'a']
letras.remove('a')
letras# apenas a primeira instância deo valor será removido

['a', 'a']

##método del

In [ ]:
numeros = [1, 2, 3, 4]
del numeros[1]#remove pelo indice
print(numeros)

[1, 3, 4]

##método sort

In [ ]:
letras = ['a', 'd', 'c', 'd']
letras.sort()
print(letras)
numeros = [20, 5, 2, 45 , 1]
numeros.sort()
print(numeros)
numeros.sort(reverse=True)#invertendo ordem
print(numeros)

['a', 'c', 'd', 'd']
[1, 2, 5, 20, 45]
[45, 20, 5, 2, 1]

##método copy

In [ ]:
import copy
motos = ['honda', 'suzuki', 'yamaha']
marcas = copy.copy(motos)
motos[-1] = 'outra'
print(motos)
print(marcas)

['honda', 'suzuki', 'outra']
['honda', 'suzuki', 'yamaha']
['honda', 'suzuki', 'outra']

##Compressão de listas
Compreensões de lista fornece uma maneira concisa de criar uma lista. Aplicações comuns são criar novas listas onde cada elemento é o resultado de alguma operação aplicada a cada elemento de outra sequência ou iterável, ou criar uma subsequência de elementos que satisfaçam uma certa condição.

In [ ]:
numeros = []
for x in range(10):
  numeros.append(x**2)
numeros

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
numeros = list(map(lambda x: x**2, range(10)))
numeros

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [1]:
numeros = [1, 2, 3, 4]
[x*10 for x in numeros]

[10, 20, 30, 40]

In [9]:
numeros = []
for x in range(0, 55, 5):
  numeros.append(x * 2)
print(numeros)
print(max(numeros))
print(min(numeros))
print(sum(numeros))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
100
0
550

pagina 117